
.B_navbar {
    overflow: hidden;
    padding: 30px;
    color: black;
    background-image: url(wave-haikei.png);
    background-size: cover;



}

.B_navbar .material-icons {
    overflow: hidden;
    padding: 10px 20px;
}

.material-icons:hover {

    color: rgb(66, 89, 138);

}